 /* see https://stackoverflow.com/questions/47873687/create-a-table-with-css-grid*/

 .container {
     display: grid;

     /*grid-template-columns: 40% 30% 30%;*/
     /*grid-template-columns: 7fr 3fr;*/
     grid-template-columns: repeat(1, 7fr 3fr);

     grid-template-rows: 3fr 7fr;

     grid-template-areas:
         "intro intro"
         "players tiers";

     /*grid-column-gap: 1em;*/
     /*grid-row-gap: 1em;*/
     grid-gap: 1em;
 }

 /*.container > div {*/
     /*background: #eee;*/
     /*padding: 1em;*/
 /*}*/

 /*.container > div:nth-child(odd) {*/
     /*background: #ddd;*/
 /*}*/

 .intro {
     grid-area: intro;
     background: #31adaf;
 }

 .players {
     grid-area: players;
     background: #a7ddb9;
 }

 .tiers {
     grid-area: tiers;
     background: #f7ff12;
 }

 table, td, th {
     border: 1px solid black;
     border-collapse: collapse;
 }

 table#players {
     width: 80%;
     text-align: left;
 }

 table#tiers {
    width: 80%;
     text-align: center;
 }
